<<<<<<< HEAD
@import url("node_modules/modern-normalize/modern-normalize");

body {
  background-color: #85d2a6a2;
  background-image: url("oliver.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  text-align: center;
  color: #221811;
  font-family: Tahoma, Arial, sans-serif;
=======
@import url("node_modules/modern-normalize.css");
h1 {
  color: #fff;
  border: 2px solid black;
}
div {
  font-size: 64px;
  color: red;
  background-color: black;
  margin: 15px;
>>>>>>> 7b2592ec4ddf5951cdf4a9d27e2ff74ddc52583b
}

#wrapper {
  background-color: #231814;
  margin-left: 20em;
  padding: 0;
  margin-right: auto;
  width: 50%;
  min-width: 200px;
  max-width: 1280px;
  box-shadow: 3px 3px 3px #676767;
}

header {
  background-color: #d2b48c;
  color: #231814;
  background-image: url("horsedown.jpg");
  background-repeat: no-repeat;
  padding-left: 240px;
  padding-top: 5px;
  padding-bottom: 5px;
}

header a {
  text-decoration: none;
}

header a:link {
  color: #231814;
}

header a:visited {
  color: #231814;
}

header a:hover {
  color: #fef6c2;
}

h1 {
  font-size: 3em;
}

h2 {
  color: #8c3826;
}

h3,
dt {
  color: #5eb5e0;
}

h4 {
  background-color: #4ecd76;
  font-size: 1.2em;
  padding-left: 0.5em;
  padding-bottom: 0.25em;
  text-transform: upper;
  border-bottom: 2px solid #6bffe4;
  clear: left;
}

nav {
  font-weight: bold;
  text-align: center;
  font-size: 1em;
  padding-top: 5px;
  padding-bottom: 20px;
  float: center;
  width: 220px;
}

nav a:link {
  color: #fef6c2;
}

nav a:visited {
  color: #d2b48c;
}

nav a:hover {
  color: #48987c;
}

nav ul {
  padding-left: 0;
  list-style-type: none;
}

main {
  display: block;
  padding-left: 0;
  padding-right: 2em;
  padding-bottom: 2em;
  margin-left: 200px;
  background-color: #fef6c2;
  overflow: auto;
}

dl {
  padding-left: 10em;
  padding-right: 20em;
}

.details {
  padding-left: 70%;
  padding-right: 70%;
  overflow: auto;
}

img {
  padding-left: 5px;
  padding-right: 10px;
}

footer { background-color: #4ecd76;
font-size: 0.9em;
font-style: italic;
text-align: center;
padding-bottom: 2em;
border-top: 1px solid #8da9f7;
}

form {
  display: flex;
  flex-direction: column;
  gap: 16px
}

.flex {
display: flex;
gap: 16px
}

.floatcenter {float: center;
 padding-bottom: 2em;
 padding-right: 2em;}
.onethird {float: right;}

@media screen and (width >=1080px) {
  .flex-lg {
    display: flex;
  }
}